.header-container{
  width: 96vw;
  height: 100px;
  background-color:black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 50px;
}

.text-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.text-field input{
  width: 500px;
}